<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" >
</head>
<body>
<!--Header-->
<nav class="navbar d-block p-1 bg-secondary text-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span th:class="text-2" th:text="${currentUser.name}"></span>
            <span> with roles: </span>
            <span th:each="role : ${currentUser.roles}">
                <span th:text="${role}"></span>
            </span>
        </a>
        <a class="navbar-brand text-logout" th:text="Logout" th:href="@{/logout}">Logout</span></a>
    </div>
</nav>

<!-- Sidebar -->
<div class="container-fluid ">
    <div class="row flex-nowrap   mt-3 pl-0 pe-5 he">
        <nav id="sidebarMenu" class="d-block col-md-2 pl-0 bg-white">
            <ul class="list-group list-group-flush">
                <div th:each="role : ${currentUser.roles}">
                    <a style="text-decoration: none" th:href="@{/{user}(user=${#strings.toLowerCase(role)})}"><li th:text="${#strings.substring(role, 0, 1)} + ${#strings.substring(role, 1).toLowerCase()} " class="list-group-item rounded" aria-current="true" th:classappend="${role.authority} == 'ROLE_ADMIN' ? 'active' : 'noa'"></li>
                    </a>
                </div>
            </ul>
        </nav>

<!--Table-->
        <div class ="container-fluid">
            <h1 class="text-3">Admin Panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"  th:href = "@{/admin}">User table</a>
                <li class="nav-item">
                    <a class="nav-link active" th:href = "@{/admin/new}">New user</a>
                </li>
            </ul>
            <h5 class="py-3 px-3 my-0 border">Add new users</h5>
            <div class="modal-body col-md-4 offset-md-4 text-center">
                <form th:method="POST" th:action="@{/admin/new}" th:object="${newUser}"  id="form1">
                    <div class="form-group text-3">
                        <label for="input1">Name</label>
                        <input type="text" class="form-control" th:field="*{name}"  id="input1" >
                    </div>
                    <div class="form-group text-3">
                        <label for="input2">Age</label>
                        <input type="text" class="form-control" th:field="*{age}" id="input2">
                    </div>
                    <div class="form-group text-3">
                        <label for="input3">Email</label>
                        <input type="email" class="form-control" th:field="*{email}" id="input3">
                    </div>
                    <div class="form-group text-3">
                        <label for="input4">Password</label>
                        <input type="password" class="form-control" th:field="*{password}" id="input4">
                    </div>
                    <p class="text-3">Role</p>
                    <div class="form-group  text-left" th:each="role : ${listRoles}">
                        <input type="checkbox" th:text="${role}" th:field="*{roles}" th:value="${role.id}">
                    </div>

                    <button type="submit" form="form1" class="btn btn-success">Add new user</button>
                </form>


            </div>
        </div>
    </div>
</div>

</body>
</html>